# Virtual Environment
venv/
.venv/

# Python Cache
__pycache__/
*.py[cod]

# Environment Variables
.env

# IDE
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Streamlit Cache
.streamlit/

# SQLite Database
data/database/*.db

# Uploaded Documents
data/uploads/*
!data/uploads/.gitkeep

# ChromaDB
data/chroma_db/*
!data/chroma_db/.gitkeep

# Logs
logs/*
!logs/.gitkeep